APP_ENV=development

# ==============================================================================
# server
# ==============================================================================
SERVER_PORT=8080
HOST_PORT=8081

# ==============================================================================
# redis
# ==============================================================================
REDIS_ADDR=redis-local:6379
REDIS_PASSWORD=pwd

# ==============================================================================
# cors
# ==============================================================================
ALLOWED_ORIGINS=http://localhost:3000